body{
    background-image: linear-gradient(cyan , transparent);
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
*{
  
}
div{
    direction: rtl;
    text-align: center;
}
#head{
    text-align: center;
    
}
#hed{

}
input{
    width: 30%;
    height: 70px;
    outline: none;
    border: none;
    margin: 4px 0;
    border-radius: 7px;
    padding: 4px;
    font-size: 50px;


}
input:focus{
    transform: scale(1.1);


}
#name{
    width: 91% ;

}
#but{
    width: 300px;
    height: 50px;
    border: auto;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
}
button:hover{
    background: rgb(229, 229, 229);
   

}
table{
    text-align: center;
    width: 91%;
    margin: 10px 0;
    border: 10px;
    font-size: 30px;

}
